{% extends 'base.html.twig' %}

{% block body %}
    <h3>Produto</h3>

    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="http://placehold.it/320x150" alt="">
            <div class="caption">
                <h4 class="pull-right">
                    {% if product.price.special.amount %}
                        De
                        {{ product.price.original.currency.isoCode }}
                        {{ product.price.original.amount }}

                        Por

                        {{ product.price.special.currency.isoCode }}
                        {{ product.price.special.amount }}

                    {% endif %}


                </h4>
                <h4><a href="#">{{ product.name }}</a>
                </h4>
                <p>{{ product.description }} <a target="_blank" href="#">Add to cart</a>.</p>
            </div>
            <div class="ratings">
                <p class="pull-right">15 reviews</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </p>
            </div>
        </div>
    </div>

{% endblock %}
