{% extends "base.html.twig" %}
{% block title %}Minha Conta{{ parent() }}{% endblock %}

{% block javascript %}
    <script src="{{ asset('js/configuration.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">{{ user.name }}</h2>
        </div>
    </div>

<div class="row" id="productContent">

    <div class="col-md-3">
        {{ form_start(form) }}
        <div class="form-group">
            <label>Nome</label>
            {{ form_errors(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <label>Usuário</label>
            {{ form_errors(form.username) }}
            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <label for="exampleInputFile">market</label>
            {{ form_errors(form.market) }}
            {{ form_widget(form.market, {'attr': {'class': 'form-control'}}) }}
        </div>
        {% if is_granted('ROLE_SYSTEM_ADMIN') %}
        <div class="form-group">
            <label for="exampleInputFile">Permissões</label>
            {{ form_errors(form.userRole) }}
            {{ form_widget(form.userRole, {'attr': {'class': ''}}) }}
        </div>
        {% endif %}
        <div class="form-group">
            <label for="exampleInputFile">Senha</label>
            {{ form_errors(form.password) }}
            {{ form_widget(form.password, {'attr': {'class': 'form-control', 'novalidate': 'novalidate'}}) }}
        </div>
        <button type="submit" class="btn btn-success">Salvar</button>
        {{ form_end(form) }}
    </div>

</div>
{% endblock %}
