{% extends "base.html.twig" %}

{% block title %}Categorias{{ parent() }}{% endblock %}

{% set pagination %}
    <nav>
        <ul class="pagination">
            <li>
                <a href="{{ path('category_list', {'page': 1}) }}" aria-label="Previous"{% if page == 1 %} class="disabled"{% endif %}>
                    <span aria-hidden="true">&laquo; primeira</span>
                </a>
            </li>
            <li>
                <a href="{{ path('category_list', {'page': prev}) }}" aria-label="Previous"{% if page == 1 %} class="disabled"{% endif %}>
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for i in pageStart..pages %}
                <li{% if i == page %} class="active"{% endif %}><a href="{{ path('category_list', {'page': i}) }}">{{ i }}</a></li>
            {% endfor %}
            <li>
                <a href="{{ path('category_list', {'page': next}) }}" aria-label="Next"{% if page == pages %} class="disabled"{% endif %}>
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li>
                <a href="{{ path('category_list', {'page': last}) }}" aria-label="Next"{% if page == pages %} class="disabled"{% endif %}>
                    <span aria-hidden="true">última &raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endset %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Categorias</h2>
        </div>
    </div>

    <div class="row" id="productContent">
        <div class="col-lg-12">


            <table class="table table-bordered table-striped table-hover table-condensed">
                <thead>
                <tr>
                    <th>#</th>
                    <th>ID Market</th>
                    <th>nome</th>
                    <th>chave</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="extshop-number">{{ category.categoryMarketId }}</td>
                        <td>{{ category.name }}</td>
                        <td>{{ category.nameKey }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Nenhuma categoria para market</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ pagination }}
        </div>
    </div>
{% endblock %}
